export PROJECT_DIR=${PWD}
export SECRETS_DIR=${PROJECT_DIR}/secrets
export SOURCE_DIR=${PROJECT_DIR}/src
export WORK_DIR=${PROJECT_DIR}/work

PATH=${PROJECT_DIR}/bin:${PATH}

export PARAMS_YAML=${SECRETS_DIR}/params.yaml

# for terraforming DNS
export GOOGLE_CREDENTIALS=${PROJECT_DIR}/secrets/$(basename ${PROJECT_DIR}).json
export TF_VAR_project=shortrib
export TF_VAR_gcp_key=${GOOGLE_CREDENTIALS}
export TF_VAR_region=us-west-1
